{% extends "layout.html" %}
{% load static %}
{% block body %}
<h3>Yumurtalık Hakkında</h3>
<div><style>
    body {
        background-color: #f0ffff;
    }
    
    </style>
<hr>
<p>
Yumurtalık, Adana ilinin bir ilçesidir. Eski adı Ayas olup, Türkçeleştirmek adına ismi Yumurtalık'a çevrilmiştir.
</p>
<hr>  
<div align="center"><img src="{% static 'mysite/images/deneme.jpg' %}" alt="My image"></div>
<hr> 
<p>İlçenin eski adı Ayas'tır ve halk arasında bu isim hala kullanılmaktadır. 1959 yılına kadar Ceyhan'a bağlı bir bucak olan Ayas bu tarihte ilçe olmuştur. İlçenin tarihi ortaçağa kadar uzanır.</p>
<hr> 
<div align="center"><img src="{% static 'mysite/images/dene.jpg' %}" alt="My image1" width="700" height="400"></div>
<hr> 
<p>Adana merkezine 80 km, komşu Ceyhan'a 30 km mesafededir. Yüzölçümü 501 km² olup 24 mahallesi vardır. Yumurtalık'ın Marko Polo İskelesi, Kız Kalesi, Lagun Gölleri ve Milli Parkı, Ayas Antik Kenti gibi gezilebilecek noktaları bulunmaktadır.</p>
<hr> 
<div align="center"><img src="{% static 'mysite/images/foto2.jpg' %}" alt="My image2" width="700" height="400"></div>
<hr>
</div>
{% endblock  %}
